@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: black;
  padding-top: 30px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bottle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  cursor: pointer;
  align-self: center;
}
.booze {
  display: flex;
  justify-content: center;
}
.mixers {
  display: flex;
  justify-content: center;
}

.single-drink {
  max-width: 250px;
}

.drink-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.drinkHeader {
  padding-bottom: 0px;
}

.cocktail img {
  padding: 0;
  margin: 0;
}




/* Set up the container element */
.cocktailHover {
  position: relative;
  width: 300px; /* Set width to the desired size */
  height: 200px; /* Set height to the desired size */
}

/* Set up the image element */
.cocktailHover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1; /* Set initial opacity to 1 */
  transition: opacity 0.5s ease-in-out; /* Add transition effect */
}

/* Set up the overlay element */
.cocktailHover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Set background color with desired opacity */
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 0.5s ease-in-out; /* Add transition effect */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}


.cocktailHover:hover .overlay {
  opacity: 1; /* Show the overlay with text */
}

.clicked {
  color: pink !important;
  opacity: 1 !important;
  text-decoration: underline !important;
}



.title {
  font-family: 'Gruppo', cursive;
  font-size: 1.75em;
  text-align: center;
  color: black;
  padding: 0;
  margin: 0;
  text-transform: uppercase;

}

.top {
  margin-top: 60px; 
}

.shaker {
  display: flex;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.shaker img {
  max-width : 150px;
  border : 4px solid pink;
}

.shaker img:hover {
  border : 4px solid green;
  cursor: pointer;
}

.inner-modal-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inner-modal-flex img {
  max-width: 140px;
  margin: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  border-radius: 10px;
  cursor: pointer;
}

