body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filter {
  display: flex;
flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
h3 {
  padding-top: 15px;
}
.bottle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  cursor: pointer;
  align-self: center;
}
.booze {
  display: flex;
  justify-content: center;
}
.mixers {
  display: flex;
  justify-content: center;
}

.single-drink {
  max-width: 250px;
}

.drink-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.drinkHeader {
  padding-bottom: 0px;
}

.cocktail img {
  padding: 0;
  margin: 0;
}